* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: var(--primary);
}

a:hover {
  color: var(--primary);
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

:root {
  --primary: midnightblue;
}

.header {
  font-size: 2rem;
  font-weight: 300;
}

.ml-2 {
  margin-left: 2rem;
}
.h-24 {
  max-height: 24rem;
  width: fit-content;
}
.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.m-1 {
  margin: 1rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 1rem;
  position: fixed;
  width: 100vw;
  background-color: white;
  z-index: 1;
}
.justify-center {
  justify-content: center;
}
.navbar a {
  margin-left: 1em;
}

.navbar button {
  background-color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 99px;
  border-style: solid;
  border-color: var(--primary);
  border-width: 1px;
  color: var(--primary);
}

.navbar button:hover {
  background-color: var(--primary);
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 99px;
  border-style: hidden;
  border-color: black;
  border-width: 2px;
  color: white;
  cursor: pointer;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
}

.content {
  width: 100vw;
  height: 90vh;
  z-index: 1;
  background-color: white;
  padding: 4rem;
}

.intro {
  width: 80%;
}

p {
  line-height: 2rem;
}

.px-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.m1 {
  margin: 1rem;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.bg-lightgrey {
  background-color: #f3f2f5;
}

.w-50 {
  width: 50%;
}
.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.text-right {
  text-align: right;
}
.footer {
  width: 100%;
  height: 40vh;
  background-color: wheat;
}

input {
  padding: 0.4rem;
  outline-color: var(--primary);
  border-color: var(--primary);
  border-width: 1px;
}
.block {
  display: block;
}
.welcome {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  padding: 1rem;
  top: 20%;
  left: 20%;
  position: absolute;
  color: white;
  font-size: 26px;
}

.welcome div {
  margin: 1rem;
}
.welcome h3 {
  font-size: 3rem;
  font-weight: 300;
  font-kerning: auto;
}
.welcome button {
  background-color: var(--primary);
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 1rem;
  border-radius: 99px;
  border-style: hidden;
  font-size: 22px;
  color: white;
  font-weight: 300;
}
.welcome button:hover {
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 1rem;
  border-radius: 99px;
  border-style: hidden;
  font-size: 22px;
  background-color: var(--primary);
  cursor: pointer;
}

.scroll {
  bottom: 5;
  left: 22%;
  position: sticky;
  z-index: 1;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.space-around {
  justify-content: space-around;
}

.flex-row {
  flex-direction: row;
}

.h-6 {
  height: 6rem;
  width: inherit;
}

video {
  min-width: 100%;
  min-height: 100%;
  top: 5rem;
  overflow: hidden;
  z-index: -1;
  position: fixed;
}

.splash {
  z-index: -1;
}

.pill {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 99px;
  border-style: solid;
  border-color: var(--primary);
  border-width: 1px;
  background-color: white;
  color: var(--primary);
}

.pill:hover {
  background-color: midnightblue;
  border-style: hidden;
  color: white;
}
